<app-carousel></app-carousel>
<div class="div-main">
    <h1>Bem vindo ao Dry Drink</h1>
    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum similique facere quibusdam, perferendis eligendi repellendus commodi molestias sequi. Cumque ad sed sint fugit quas saepe animi reprehenderit repellat atque labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit harum nostrum iusto inventore totam quasi reprehenderit rerum quod aspernatur mollitia perferendis, hic ratione autem vitae debitis eaque excepturi voluptatum?
    </h4>
    <div class="div-main-img-center">
        <img src="/assets/imagens/main-center-01.jpg" alt="">
        <button>SEJA FRANQUEADO</button>
    </div>
    <h1>Bem vindo ao Dry Drink</h1>
    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum similique facere quibusdam, perferendis eligendi repellendus commodi molestias sequi. Cumque ad sed sint fugit quas saepe animi reprehenderit repellat atque labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit harum nostrum iusto inventore totam quasi reprehenderit rerum quod aspernatur mollitia perferendis, hic ratione autem vitae debitis eaque excepturi voluptatum?
    </h4>
        <button class="div-main-button-center">CONHEÇA NOSSO MANIFESTO</button>
</div>
<app-cards></app-cards>