.div-header {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: flex-start;

  .div-img {
    z-index: 0;
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      position: relative;
    }
  }
  
  .div-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    position: fixed;
    height: 100px;
    align-items: center;
    box-shadow: inset 0px 100px 20px -20px rgba(0, 0, 0, 0.5);
    transition: all 0.8s;

    &.black-bg {
      transition: all 0.9s;
      background-color: black;
    }

    .div-ul-01,
    .div-ul-02 {
      display: flex;
      flex-direction: row;
      position: relative;
      list-style: none;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 2px;
      li {
        padding: 0px 10px;

        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
          font-weight: 400;
          
          :hover {
            transition: all 0.9s;
            color: #d34301;

          }
        
        }
       
          :hover {
            color: rgb(211, 67, 1);
            transition: all 0.9s;
          }
      }
    }
  }
}
