<div class="div-header">
    <div class="div-menu" id="menu">
        <ul class="div-ul-01">
            <li><a href=""></a></li>
            <li><a class="menu-a-01" href="">HOME</a></li>
            <li><a class="menu-a-01"href="">DISTRIBUIDORAS</a></li>
            <li><a class="menu-a-01"href="">SOBRE</a></li>
            <li><a href=""></a></li>
        </ul>
        <ul class="div-ul-02">
            <li>
                <a href="">
                    <ng-icon name="ionCart"></ng-icon>
                </a>
            </li>
            <li>
                <a href="usuarios/login.html">
                    <ng-icon name="ionLogIn"></ng-icon>
                </a>
            </li>
            <li>
                <a  href="">
                    <ng-icon name="ionLogoInstagram"></ng-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <ng-icon name="ionLogoFacebook"></ng-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <ng-icon name="ionLogoLinkedin"></ng-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <ng-icon name="ionLogoTiktok"></ng-icon>
                </a>
            </li>
            <li></li>
        </ul>
    </div>